{
  "presets": [
    ["env", {
      "targets": ["node", {
        "browsers": ["last 2 versions"]
      }]
    }],
    "stage-2"
  ],

  "plugins": ["module-resolver"],

  "env": {
    "production": {
      "plugins": ["groundskeeper-willie"]
    }
  }
}
